  svg{
    color: gray; /* Color inicial */
    transition: color 0.3s ease; /* Transición suave */
    position:static;
  }
  
  .icono:hover {
    color: #fc3; /* Color cuando el cursor pasa encima */
  }
  
  .icono:active {
    color: #092C50; /* Color al hacer clic */
  }
  
  .icono.seleccionado {
    color: #007bff;; /* Color cuando el ícono está seleccionado */
  }
  .icono.seleccionado {
    color: #007bff !important; /* Forzar el color seleccionado */
  }
  .icon-reserv svg{
    color:#092C50;
    transition: color 0.3s ease; /* Transición suave */
  }
 td svg{
    font-size: clamp(18px, 2%, 24px);
    align-self: center;
    vertical-align: middle;
    width: 100%;

  }

  .icon-reserv:hover {
    color: #fc3; /* Color cuando el cursor pasa encima */
  }
  
  .icon-reserv:active {
    color: #092C50; /* Color al hacer clic */
  }
  
  .icon-reserv.seleccionado {
    color: #007bff; /* Color cuando el ícono está seleccionado */
  }
