

  .details-section-content{
    display: flex;
    padding-top: 0;
  }
  
  .details-section table th, .details-section table td {
    text-align: center;
    padding: 1px;
  }
  .details-section-table thead {
    position: sticky;
    top: 0;
    background-color: #f8f8f8; /* Color de fondo del encabezado */
    z-index: 1; /* Asegura que el encabezado esté por encima del cuerpo */
  }
  
  .details-section-table th,
  .details-section-table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd; /* Opcional: bordes de celdas */
  }