
.app-header {
  top: 0;
  z-index: 1;
  background-color: #ffcc3312;
  color: #092C50;
  height: 10%;
  position: relative;
  font-weight: bolder;
  min-height: 10vh;
  width: 100%;
  display: flex;
}


.app-header img {
  background: #fffcf0;
  display: block;
  position: initial;
  width: 20%;
  margin-bottom: 8px;
  margin-top: 8px;
}
.app-header h1 {
  color: #092C50;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  font-size: clamp(12px,4vw, 28px);
  margin: 0;
  text-align: center;
}

.app-header-text { 
  text-align: center;
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  align-content: center;
}

/*ORDEN*/
.main-container {
  height: 90%;
  width: 100%;
  background: #ffffff;
  text-transform: uppercase;
  display: inline-flex;
  height: -moz-available;
}
/* Ajustar el margen izquierdo según el estado del menú */
.main-container.menu-expanded .content-container {
  z-index: 200;
  overflow: hidden;
  flex-grow: 1;
}
.main-container.menu-collapsed .content-container {
  width: 96%;;
  overflow: hidden;
  z-index: 200;
  flex-grow: 1;
}


.titulo {
  width: -moz-available;
  font-weight: bold;
  background-color: #092C50;
  color: white;
  z-index: 1;
  font-size: clamp(10px,4vh, 36px);
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  display: flex;
  border-bottom: 2px solid rgb(213, 170, 0);
  border-top: 2px solid rgb(213, 170, 0);
  letter-spacing: 1px;
  justify-content: center;
  min-height: 4px;
  width: 100%;
  margin: 0%;
  padding: 1px;
}
.container-lateral{
  width: 25%;
  background-color: #bed2e333;
  box-sizing: border-box;
  overflow-y: hidden;
  display: inline-block;
  z-index: 200;
  overflow-x: hidden;
  height: 90vh;
}

.contenido {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 70px;
}


/* Estilos para la sección de búsqueda */
search-section {
  width: 100%;
  height: 100%;
  display: table;

}

.search-section h2 {
  color: #092c50;
  font-size: clamp(8px, 2%, 16px);
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0px 0;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  background-color: #fc3;
  line-height: 1;
  text-transform: uppercase;
  position: sticky;
  z-index: 1;
  display: block;
  width: 100%;
}

/*VIEJO
.search-box {
  margin:1px;
  max-height: 44%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/
/*nuevo */
.search-box {
  position: relative;
  background: white;
  overflow-x: hidden;
  display: grid;
  text-align: center;
  align-content: center;
  height: 40%;

}

/*VIJO
.search-box input[type="text"],
.search-box input[type="number"],
.search-box input[type="date"],
.search-box input[type="calendar"],
.search-box input[type="search"],
.search-box select,
.search-box select:focus {
  background-color: #ffffff;
  padding: 3px;
  color: #092C50;
  font-family: Arial, sans-serif;
  border: 1px solid #007bff;
  margin-bottom: 2px;
  width: 90%;
  margin-right: 5px;
  margin-left: 5px;
  font-size: clamp(11px, 2%, 14px);
}
*/
/*nuevo */
.search-box input[type="text"],
.search-box input[type="number"],
.search-box input[type="date"],
.search-box input[type="calendar"],
.search-box input[type="search"],
.search-box input[type="file"],
.search-box select,
.search-box select:focus {
  background-color: #ffffff;
  color: #092C50;
  font-family: Arial, sans-serif;
  border: 1px solid #007bff;
  width: 92%;
  font-size: clamp(7px, 2%, 14px);
  height: 19px;
  margin: 1px;
}

.search-box button {
  padding: 3px;
  background-color: #007bff;
  color: white;
  border: 1px solid #0e5096;
  cursor: pointer;
}

.search-box table {
  white-space: collapse;
  scrollbar-width: none;
  position: relative;
  word-break: break-word;
  display: table;
}


.search-box table::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit (Chrome, Safari) */
}

/*Viejo
.search-box-table {
  overflow-y:auto;
  height: 100%
  width: 100%;
  overflow-x: hidden;
}
*/
/*nuevo */
.search-box-table {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  height: 30vh;
  
}


.search-box table thead th {
  /*Viejo
  font-size: clamp(10px, 2%, 12px);
  border-bottom: 1.5px solid #007bff;
  z-index: 1;
  position: sticky;
  text-align: center;
  background-color: #092C50;
  padding: 2px;
  top:0; 
  */
  /*nuevo*/
  font-size: clamp(6px, 2%, 12px);
  border-bottom: 1.5px solid #007bff;
  z-index: 1;
  position: sticky;
  text-align: center;
  background-color: #092C50;
  padding: 2px;
  top: 0;
  word-break: initial;
}

table thead th {
  position: sticky;
  font-size: clamp(7px, 2%, 14px);
  text-align: center;
  top: 0px;
  background-color: #fff; /* Fondo blanco para que destaque */
  z-index: 1; /* Asegura que la cabecera esté por encima de las celdas */
}


/* Estilos para la tabla de resultados */
.search-section table {
  border-collapse: collapse;
  font-size: clamp(7px, 2%, 14px);
  word-wrap: break-word;
}

.search-section table, 
.search-section table th, 
.search-section table td {
  /*Viego
  border: 1px solid #092C50;
  background-color: #ffffff;*/
  /*nuevo*/
  border: 1px solid #092C50;
  background-color: #ffffff;
  table-layout: auto;
  overflow-y: hidden;
  border-collapse: collapse;
  width: auto;
}

.search-section table th,
.search-section table td {
  text-align: start;
  padding: 0px;
  font-size: clamp(6.5px, 2%, 13px);
  color: #092C50;
}



.search-section table th {
  background-color: #092C50;
  color: white;
}

.search-section button {
  padding: 3px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  overflow: auto;
  font-weight: bolder;
  font-size: clamp(8px, 2%, 16px);
  margin: 2px;

}

.search-section button:hover {
  background-color: #0056b3;
}

.search-section button.imagenb {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.search-section button:hover.imagenb  {
  background-color: #bed8f381;
}

.search-section button.imagen-seleccionada {
  .imagen-boton { 
  background-color: #108b22ac;
  border: none;
  cursor: pointer;
  text-align: center;
  }
}
.imagen-boton-no { 
  background-color: #f4c81bf5;
  border: none;
  cursor: none;
  text-align: center;

  }
.imagen-boton {
  width: 15px;
  height: 15px;
}

/* Estilo para la sección de detalles */
.details-section {
  width: 75%;
  height: 90vh;
  background-color: #bed2e333;
  box-sizing: border-box;
  overflow-y: auto;
  margin-bottom: 5px;
  display: inline-flex;
  position: absolute;
  width: -moz-available;
  z-index: 200;

}
.details-section-content{
  align-items: center;
  overflow-x: hidden;
}
.details-section-table {
  overflow-y: auto;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  display: block;
  position: absolute;
  width: 100%;
}

.details-section label {
  margin-right: 30px;
  font-weight: bold;
  color: #092C50;
}

.details-section select,
.details-section button {
  margin-right: 0px;
}

/* Estilo para la tabla de detalles de sala */
.details-section table {
  margin-top: 1px;
  margin-left: 0px;
  margin-bottom: 10px;
  border-collapse: collapse;
  color: #092C50;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  position: sticky;
  box-sizing: border-box;
  table-layout: auto;
  word-wrap: break-word;
  white-space: break-spaces;
  font-size: clamp(7px, 2%, 14px);
  width: 100%;
  
}

.details-section table,
.details-section table th,
.details-section table td {
  border: 0.5px solid #092C50;
}

.details-section table th,
.details-section table td {
  text-align: center;
  padding: 3px;
}

.details-section table th {
  background-color: #092C50;
  color: white;
}
.colHorario {
  min-width: max-content;
}

/* Botones de cambio de semana */
.details-section button {
  padding: 5px 4px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: clamp(5px 1% 10px);
}
.details-section button:hover {
  background-color: #0056b3;
}

.details-section .boton-modulo-seleccionado {
  background-color: #FFCC33; /* Color de fondo para botones de módulos seleccionados */
  color: white; /* Color del texto */
}

.details-section .boton-modulo-seleccionado:hover {
  background-color: #c48b1a; /* Color de fondo para botones de módulos seleccionados */
  color: white; /* Color del texto */
}

/* Estilos para la tabla */
.table-modulos {
width: 90%;
border-collapse: collapse;
text-align: left;
}

.table-modulos th, .table-modulos td {
border: 1px solid #ddd;
padding: 5px;
}

/* Estilo para las cabeceras de la tabla */
.table-modulos thead th {
background-color: #092C50;
color: white;
}

/* Estilo para las subcolumnas de 'Módulo' */
.table-modulos th.subcolumna, .table-modulos td.subcolumna {
border-right: none; /* Elimina el borde derecho de la columna */
}

.table-modulos td.subcolumna:last-child {
border-right: 1px solid #ddd; /* agrega el borde derecho a la última subcolumna */
}

/* Estilo para la fila del encabezado de 'Módulo' */
.table-modulos th[colSpan="2"] {
text-align: center;
}

/* mejorar la visualización de las filas */
.table-modulos tr:nth-child(even) {
background-color: #f2f2f2;
}

.table-modulos tr:hover {
background-color: #ddd;
}

.div-centrado {
width: 33%; /* ancho */
margin:  auto; /* Centra el div horizontalmente */
padding: 10px;
}


/* Estilo para resaltar los exámenes reservados */
.table-reservado {
background-color: #f07979;
}

.file-input {
padding: 10px;
border: 2px solid #ccc;
border-radius: 4px;
background-color: #f9f9f9;
font-size: 16px;
color: #333;
cursor: pointer;
}

.file-input:hover {
border-color: #888;
}

.file-input:focus {
outline: none;
border-color: #555;
}

.icon{
  color:#007bff;
  font-size: clamp(14px, 2%, 14px);
}

/* PARA LA CABECERA DE LA TABLA */
.search-box-table {
  position: relative;
  max-height: 400px; /* Ajusta este valor al tamaño máximo deseado para la tabla */
  overflow-y: auto; /* Permite scroll solo en el cuerpo, no en el encabezado */
}
.D-table {
  position: relative;
  max-height: 400px; /* Ajusta este valor al tamaño máximo deseado para la tabla */
  overflow-y: auto; /* Permite scroll solo en el cuerpo, no en el encabezado */
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: static; /* Fija el encabezado en la parte superior */
  top: 0; /* Fija el encabezado en la parte superior */
  z-index: 1; /* Asegura que el encabezado esté por encima del cuerpo */
  background-color: #f5f5f5; /* Color de fondo del encabezado */
}

th, td {
  border: 1px solid #ccc;
  padding: 1px;
  text-align: left;
}
.details-section button:hover {
  background-color: #0056b3;
}
.details-section .boton-modulo-seleccionado {
  background-color: #FFCC33; /* Color de fondo para botones de módulos seleccionados */
  color: white; /* Color del texto */
}

.details-section .boton-modulo-seleccionado:hover {
  background-color: #c48b1a; /* Color de fondo para botones de módulos seleccionados */
  color: white; /* Color del texto */
}

/*///*/
