
.app-header {
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  background-color: #ffcc3312;
  color: #092C50;
  height: 12%;
  position: absolute;
  display: flex;
  min-height: fit-content;
}

.app-header img {
  height: 65%;
  margin-left: 1%;
}

.app-header-text {
  flex-grow: 1; /* Ocupa el espacio restante */
  display: flex; /* Usa flexbox */
  justify-content: space-around; /* Alinea el contenido a la derecha */
  align-items: center; /* Centra verticalmente el contenido */
  text-align: center; /* Alinea el texto a la derecha */
  height: 100%;
  overflow: hidden;
}

/*ORDEN*/
.main-container {
  display: flex;
  height: 88%;
  width: 100%;
  position: absolute;
  top: 12%;
  flex-direction: row;
  background: #ffffff;

}
/* Ajustar el margen izquierdo según el estado del menú */
.main-container.menu-expanded .content-container {
  left: 15%;
  position: fixed;
  width: 85%;
  height: 100%;
  display: flex;
}
.main-container.menu-collapsed .content-container {
  position: fixed;
  left: 4%;
  display: flex;
  width: 96%;
  height: 100%;
  display: flex;
}


.titulo {
  width: -moz-available;
  font-weight: bold;
  background-color: #092C50;
  color: white;
  position: fixed;
  z-index: 100;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  height: 40px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  border-bottom: 2px solid rgb(213, 170, 0);
  letter-spacing: 1px;
  line-height: 1.6;
  justify-content: center;
}
.container-lateral{
  width: 25%;
  height: 85%;
  background-color: #bed2e333;
  box-sizing: border-box;
  display: flex;
  margin-top: 40px;
  overflow-y: auto;
}

.contenido {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin-top: 70px;
}


/* Estilos para la sección de búsqueda */
.search-section {
  width: 100%;
  height: 98%;
  background-color: #ffcc3312;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-section h2 {
  color: #092c50;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 1px 0;
  padding: 4px; /* puede ser sin padding*/
  background-color: #fc3;
  line-height: 1.5;
  text-transform: uppercase;
}


.search-box {
  margin:1%;
  max-height: 44%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search-box input[type="text"],
.search-box input[type="number"],
.search-box input[type="date"],
.search-box input[type="calendar"],
.search-box input[type="search"],
.search-box select,
.search-box select:focus {
  background-color: #ffffff;
  padding: 3px;
  color: #092C50;
  font-family: Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #007bff;
  margin-bottom: 2px;
  width: 90%;
  margin-right: 5px;
  margin-left: 5px;
}

.search-box button {
  padding: 4px;
  margin: 1px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-box table {
  font-size: x-small;
  width: 100%;
}

.search-box-table {
  overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
  height: 100%;
  width: 100%;
}

.search-box table thead th {
  border-bottom: 1.5px solid #007bff;
  table-layout: fixed;
}

table thead th {
  position: sticky;
  font-size: small;
  text-align: center;
  top: 3;
  background-color: #fff; /* Fondo blanco para que destaque */
  z-index: 1; /* Asegura que la cabecera esté por encima de las celdas */
}


/* Estilos para la tabla de resultados */
.search-section table {
  border-collapse: collapse;
  transform: scale(1);/*reducir el porcentaje del tamaño de la tabla*/
  /*transform: scale(0.96);/*esto es para reducir el porcentaje del tamaño de la tabla*/
}

.search-section table, 
.search-section table th, 
.search-section table td {
  border: 1px solid #092C50;
  background-color: #ffffff;
  height: 30%;
}

.search-section table th,
.search-section table td {
  text-align: left;
  padding: 1px;
  color: #092C50;
}

.search-section table th {
  background-color: #092C50;
  color: white;
}

.search-section button {
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-section button:hover {
  background-color: #0056b3;
}

.search-section button.imagenb {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.search-section button:hover.imagenb  {
  background-color: #bed8f381;
}

.search-section button.imagen-seleccionada {
  .imagen-boton { 
  background-color: #108b22ac;
  border: none;
  cursor: pointer;
  text-align: center;
  }
}
.imagen-boton-no { 
  background-color: #f4c81bf5;
  border: none;
  cursor: none;
  text-align: center;
  width: 15px;
  height: 15px;
  }
.imagen-boton {
  width: 15px;
  height: 15px;
}

/* Estilo para la sección de detalles */
.details-section {
  width: 80%;
  height: 100%;
  background-color: #bed2e333;
  box-sizing: border-box;
  display: flex; 
  margin-top:40px;
  overflow-y: auto;
  margin-bottom: 20%;
}
.details-section-content{
  display: flex;
  margin: 5px;
  padding-top: 1%;
}
.details-section-table {
  overflow-y: auto;
  width: 64.8%;
  display: flex;
  position: fixed;
  height: 99%;
  max-height: 90%;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
}

.details-section label {
  margin-right: 30px;
  font-weight: bold;
  color: #092C50;
}

.details-section select,
.details-section button {
  margin-right: 10px;
}

/* Estilo para la tabla de detalles de sala */
.details-section table {
  width: 98%;
  border-collapse: collapse;
  margin-top: 3px;
  margin-left: 7px;
  color: #092C50;
  font-size: small;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.details-section table,
.details-section table th,
.details-section table td {
  border: 0.5px solid #092C50;
}

.details-section table th,
.details-section table td {
  text-align: center;
  padding: 3px;
}

.details-section table th {
  background-color: #092C50;
  color: white;
}
.colHorario {
  min-width: max-content;
}

/* Botones de cambio de semana */
.details-section button {
  padding: 5px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.details-section button:hover {
  background-color: #0056b3;
}

.details-section .boton-modulo-seleccionado {
  background-color: #FFCC33; /* Color de fondo para botones de módulos seleccionados */
  color: white; /* Color del texto */
}

.details-section .boton-modulo-seleccionado:hover {
  background-color: #c48b1a; /* Color de fondo para botones de módulos seleccionados */
  color: white; /* Color del texto */
}

/* Estilos para la tabla */
.table-modulos {
width: 90%;
border-collapse: collapse;
text-align: left;
}

.table-modulos th, .table-modulos td {
border: 1px solid #ddd;
padding: 5px;
}

/* Estilo para las cabeceras de la tabla */
.table-modulos thead th {
background-color: #092C50;
color: white;
}

/* Estilo para las subcolumnas de 'Módulo' */
.table-modulos th.subcolumna, .table-modulos td.subcolumna {
border-right: none; /* Elimina el borde derecho de la columna */
}

.table-modulos td.subcolumna:last-child {
border-right: 1px solid #ddd; /* agrega el borde derecho a la última subcolumna */
}

/* Estilo para la fila del encabezado de 'Módulo' */
.table-modulos th[colSpan="2"] {
text-align: center;
}

/* mejorar la visualización de las filas */
.table-modulos tr:nth-child(even) {
background-color: #f2f2f2;
}

.table-modulos tr:hover {
background-color: #ddd;
}

.div-centrado {
width: 33%; /* ancho */
margin:  auto; /* Centra el div horizontalmente */
padding: 10px;
}



/* Tooltip styling */
.tooltip content {
background-color: #1569bd;
color: rgba(243, 89, 89, 0.598);
padding: 5px;
border-radius: 5px;
font-size: small;
}

/* Estilo para resaltar los exámenes reservados */
.table-reservado {
background-color: #f07979;
}

.file-input {
padding: 10px;
border: 2px solid #ccc;
border-radius: 4px;
background-color: #f9f9f9;
font-size: 16px;
color: #333;
cursor: pointer;
}

.file-input:hover {
border-color: #888;
}

.file-input:focus {
outline: none;
border-color: #555;
}

.icon{
  color:#007bff;
  size: 20px;
}

