.slide-container {
    position: fixed;
    width: 15%;
    height: 100vh; 
    z-index: 100;
    }
.main-container.menu-expanded .slide-container{
    position: fixed;
    width: 15%;
    height: 100vh; 
    z-index: 100;
    overflow: hidden;
}
.main-container.menu-collapsed .slide-container{
    position: fixed;
    width: 4%;
    height: 100vh; 
    z-index: 100;
}


.side-menu {
    width: 100%; /* Ancho cuando está expandido */
    height: 100vh;
    transition: width 0.1s ease;
    background-color: #092C50; /* Azul oscuro similar al del logotipo */
    color: #FFCC33; /* Texto en blanco para contrasteeee */
    font-weight: bold;
    overflow: hidden;
    
}
.side-menu .menu-item {
    width: 100%; /* Ancho cuando está expandido */
    height: 5%;
    transition: width 0.1s ease;
    background-color: #092C50; /* Azul oscuro similar al del logotipo */
    color: #FFCC33; /* Texto en blanco para contrasteeee */
    font-weight: bold;
    margin: 10px 0px;
}
    
.side-menu .submenu {
    width: 100%; /* Ancho cuando está expandido */
    height: 5%;
    transition: width 0.1s ease;
    background-color: #092C50; /* Azul oscuro similar al del logotipo */
    color: #FFCC33; /* Texto en blanco para contrasteeee */
    font-weight: bold;
}
.side-menu ul li a {
    position: relative;
    display: flex;
    padding: 10px 0px 10px 10px;
    color: white; /* color del texto blanco */
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 99%;
  }

.side-menu.collapsed {
    width: 100%; /* Ancho cuando está colapsado */
}


.toggle-menu-btn {
    width: 100%;
    background-color: #FFCC33;
    cursor: pointer;
    color: #031e39;
    font-weight: bold;
    height: 40px;
    font-size: 32px;
  }
/* Estilo para el botón al pasar el mouse por encima */
.toggle-menu-btn:hover {
    background-color: #E6B800; /* Un tono más oscuro para que de efecto hover */
}

  
.side-menu ul li:hover {
    background-color: #073f7b; /* Color al pasar el mouse */
    width: 100%;
    align-items: flex-start;
}

.side-menu ul li a {
    transition: background-color 0.3s ease;
}



